<body>
  <header>
    <h1>DIVISA CONVERSOR</h1>
  </header>
  <main>
    <div class="padre" *ngIf="exchanges">
      <div class="padre__divInput">
        <input [(ngModel)]="value" (ngModelChange)="updateValue()" class="padre__divInput--input" type="number" [value]="value">
      </div>
      <h1 class="padre__divBase">
        <select class="padre__divBase--select" [(ngModel)]="selectedCurrency" (change)="updateValue()">
          <ng-container *ngFor="let divisa of exchanges.rates | keyvalue">
            <option  value="{{divisa.key}}">{{divisa.key}}</option>
          </ng-container>
        </select>
      </h1>
      <div class="padre__divExchanges">
        <div *ngFor="let divisa of exchanges.rates | keyvalue" class="padre__divExchanges--divHijo">
          <p class="padre__divExchanges--divHijo--key">{{divisa.key}}</p>
          <p class="padre__divExchanges--divHijo--value">Value: {{divisa.value}}</p>
          <p class="padre__divExchanges--divHijo--conversion">Conversion: {{ value | exchange: divisa.value }}</p>
        </div>
      </div>
    </div>
  </main>
</body>


